---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
import SocialLink from "../components/SocialLink.astro";
import PastWorkItem from "../components/PastWorkItem.astro";
import CurrentWorkItem from "../components/CurrentWorkItem.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex min-h-svh max-w-xl flex-col"
>
  <main class="space-y-4">
    <article>
    <h2>Profile</h2>
    <ul class="flex flex-col gap-1.5">
      <li>Computer science major at University of Melbourne</li>
      <li>Open source comitter: Trivy</li>
    </ul>
    <h2>Work</h2>
    <ul class="flex flex-col gap-1.5">
      <CurrentWorkItem startYear="2027" startMonth="01" companyURL="https://www.corp-sansan.com/" companyName="Sansan" positionName="Product Security Engineer" />
      <PastWorkItem startYear="2025" startMonth="12" endYear="2025" endMonth="12" companyURL="https://www.corp-sansan.com/" companyName="Sansan" positionName="Security Engineer Intern" />
      <PastWorkItem startYear="2024" startMonth="12" endYear="2025" endMonth="02" companyURL="https://www.digitalgrid.com/en/" companyName="Digital Grid" positionName="Security Engineer Intern" />
    </ul>
    <h2>Links</h2>
    <ul class="flex flex-col gap-1.5">
      <SocialLink url="https://github.com/yutatokoi" name="GitHub" />
    </ul>
    <h2>Contacts</h2>
    <ul class="flex flex-col gap-1.5">
      <li>Email: yutatokoi [at] proton.me</li>
      <SocialLink url="https://x.com/yutatokoi/" name="X" />
      <SocialLink url="https://www.linkedin.com/in/yuta-tokoi/" name="LinkedIn" />
    </ul>
    </article>
  </main>
</Layout>
