---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex min-h-svh max-w-lg flex-col justify-center"
>
  <main class="space-y-4">
    <article>
    <h3>Yuta Tokoi</h3>
    <p>I'm a computer science student interested in making software secure and reliable.
    <hr />
    <h3>床井 祐太（とこい ゆうた）</h3>
    <p>ソフトウェアのセキュリティと信頼性に関心があるコンピュータサイエンス専攻の学生
    <hr />
    <h3>Internships</h3>
    <ul class="flex flex-col gap-1.5">
      <li>
        <a
          href="https://atrae.co.jp/"
          target="_blank"
          class="text-blue-500 underline">Atrae, Inc.</a
        > - Software Engineer Intern (2025-07)
      </li>
      <li>
        <a
          href="https://www.digitalgrid.com"
          target="_blank"
          class="text-blue-500 underline">DIGITAL GRID Corporation</a
        > - Security Engineer Intern (2024-12 ~ 2025-02)
      </li>
    </ul>
    <br>
    <hr />
    <h3>Links</h3>
    <ul class="flex flex-col gap-1.5">
      <li>
        <a
          href="https://github.com/yutatokoi"
          target="_blank"
          class="text-blue-500 underline">GitHub</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/yuta-tokoi/"
          target="_blank"
          class="text-blue-500 underline">LinkedIn</a
        >
      </li>
      <li>
        <a
          href="https://github.com/yutatokoi/blog/blob/main/misc/redacted.pdf"
          target="_blank"
          class="text-blue-500 underline">CV</a
        >
      </li>
      <li>Email: yutatokoi [at] proton.me</li>
    </ul>
    </article>
  </main>
</Layout>
