---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex min-h-svh max-w-lg flex-col justify-center"
>
  <main class="space-y-4">
    <h3>About me</h3>
    <p>I'm a computer science student at the University of Melbourne. Most of the year I am in Melbourne, Australia and the rest in Tokyo, Japan. When I'm not doing schoolwork, I'm likely writing code, reading, going on walks, or enjoying some music and anime.
    <hr />
    <h3>プロフィール</h3>
    <p>メルボルン大学でコンピュータサイエンスを専攻している学部生です。1年のほとんどはオーストラリアにいますが、休みの期間は東京にいます。趣味はコンピュータ、読書、散歩、音楽を聴くこと、アニメを観ること。
    <hr />
    <h3>Internships</h3>
    <ul class="flex flex-col gap-1.5">
      <li>
        <a
          href="https://www.digitalgrid.com"
          target="_blank"
          class="text-blue-500 underline">DIGITAL GRID Corporation</a
        > - Security Engineer Intern (2024-12 ~ 2025-02)
      </li>
      <li>
        <a
          href="https://atrae.co.jp/"
          target="_blank"
          class="text-blue-500 underline">Atrae, Inc.</a
        > - Software Engineer Intern (planned for 2025-07)
      </li>
      <li>
        <a
          href="https://jp.corp-sansan.com/"
          target="_blank"
          class="text-blue-500 underline">Sansan, Inc.</a
        > - Security Engineer Intern (planned for 2025-12)
      </li>
    </ul>
    <hr />
    <h3>Links</h3>
    <ul class="flex flex-col gap-1.5">
      <li>
        <a
          href="https://github.com/yutatokoi"
          target="_blank"
          class="text-blue-500 underline">GitHub</a
        >
      </li>
      <li>
        <a
          href="https://github.com/yutatokoi/blog/blob/main/misc/redacted.pdf"
          target="_blank"
          class="text-blue-500 underline">CV</a
        >
      </li>
      <li>Email: yutatokoi [at] proton.me</li>
    </ul>
  </main>
</Layout>
