---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
import WorkEntry from "../components/WorkEntry.astro";
import SocialLink from "../components/SocialLink.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex min-h-svh max-w-lg flex-col justify-center"
>
  <main class="space-y-4">
    <article>
    <h3>Yuta Tokoi</h3>
    <p>I'm a computer science student interested in making software secure and reliable.
    <hr />
    <h3>床井 祐太（とこい ゆうた）</h3>
    <p>ソフトウェアのセキュリティと信頼性に関心があるコンピュータサイエンス専攻の学生
    <hr />
    <h3>Internships</h3>
    <ul class="flex flex-col gap-1.5">
      <WorkEntry companyURL="https://jp.corp-sansan.com/" companyName="Sansan, Inc." jobTitle="Security Engineer Intern" period="2025-12" />
      <WorkEntry companyURL="https://atrae.co.jp/" companyName="Atrae, Inc." jobTitle="Software Engineer Intern" period="2025-07" />
      <WorkEntry companyURL="https://www.digitalgrid.com" companyName="DIGITAL GRID Corporation" jobTitle="Security Engineer Intern" period="2024-12 ~ 2025-02" />
    </ul>
    <br>
    <hr />
    <h3>Links</h3>
    <ul class="flex flex-col gap-1.5">
      <SocialLink url="https://github.com/yutatokoi" name="GitHub" />
      <SocialLink url="https://www.linkedin.com/in/yuta-tokoi/" name="LinkedIn" />
      <SocialLink url="https://github.com/yutatokoi/blog/blob/main/misc/redacted.pdf" name="CV" />
      <li>Email: yutatokoi [at] proton.me</li>
    </ul>
    </article>
  </main>
</Layout>
