---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
      I'm a computer science student at the University of Melbourne.
    </p>
    <p>
      Most of the year I am in Melbourne, Australia and the rest in Tokyo, Japan.
    </p>
    <p>
      When I'm not doing schoolwork, I'm likely writing code, reading, going on walks, or enjoying some music and anime.
    </p>
    <hr>
    <p>
      メルボルン大学でコンピュータサイエンスを専攻している学部生です。
    </p>
    <p>
      1年のほとんどはオーストラリアにいますが、休みの期間には東京にいます。
    </p>
    <p>
      趣味はコンピュータ、読書、散歩、音楽を聴くこと、アニメを観ること。
    </p>
  </main>
</Layout>
